*{
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #111;

}
.row__poster {
	width: 100%;
	object-fit: contain;
	max-height: 100px;
	margin-right: 10px;
	transition: trasform 450ms;
	
}
.row__posters {
	display: flex;
	overflow: hidden;
	overflow: scroll;
	padding: 20px;
}
.row__poster:hover{
	transform: scale(1.08);
}
.row__posters::-webkit-scrollbar{
	display: none;
}
.row__posterLarge{
	max-height: 250px;
}
.row__posterLarge:hover{
	transform: scale(1.09);
}
.row{
	color: white;
	margin-left: 20px;
}
.banner{
	background-image: url("net.img2/banner.jpg");
	background-size: cover;
	background-position: center ;
	color: white;
	object-fit: contain;
	height: 448px;
}
.banner__contents{
	margin-right: 10px;
	padding-top: 140px;
	height: 190px;
}
.banner__title {
	font-size: 4rem;
	font-weight: 800;
	padding-bottom: 0.9rem;
}
.banner__description{
	width: 40rem;
	line-height: 1.3;
	padding-top: 1rem;
	font-size: 0.9rem;
	max-width: 350px;
	height: 180px;
}
.banner__button{
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.5vw;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-right:1rem ;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(51, 51, 51, 0.5);

}
.banner__button:hover{
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;
}
.banner--fadeBottom{
	margin-top: 145px;
	height: 6.4rem;
	background-image: linear-gradient(170deg, transparent, rgba(38, 38, 38,0.62),#111);
}
.nav__logo{
	width: 100px;
	object-fit: contain;
}
.nav__avatar{
	width: 40px;
	object-fit: contain;
}
.nav{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	z-index: 2;
	transition-timing-function:ease-in ;
	transition: all 0.5s;

}
.nav__black{
	background-color: #111;
}